body {
  background-image:url(Assets/download.jpg) ;
  background-size: contain;
}

#heading {
  text-align:center;
  color:red;
  text-transform:uppercase;
}

.info {
  text-align:center;
  color:red;
  line-height:10px;
  position: relative;
  bottom:-90px
}
.navigation{
  color:red;
  border: 3px solid green;
  max-width: 200px;
  border-radius: 10px;
  text-transform:uppercase;
  resize:both;
  overflow:auto;
}
.navigation h3 {
    margin:-3px -4px;
    color:darkorange
}

*{
  font-family:serif,sans-serif;
}
#profilePic {
  border:2px solid red;
  border-radius:10px;
  margin:-100px auto;
  display:block;
  max-height: 300px;
}
.button img {
  display:block;
  max-height: 20px;
  border-radius: 10px;
  position:fixed;
  left:7px;
}
#Resume {
  border:2px solid gold;
  bottom:70px;
  

}
#Twitter{
  border:2px solid lightblue;
  bottom:40px;
  
}
#Instagram{
  border:2px solid #e95950;
  bottom:10px;

}
