body{
background-image:url(Assets/download.jpg);

}

h1{
    text-align:center;
    color:red;
    text-transform:uppercase;
}
h2, a {
  color:red;
  line-height:10px;
}
.info{
    text-align:center;
}

*{
    font-family:serif,sans-serif;
}
img{
    border:2px solid red;
    border-radius:10px;
    margin:0px auto;
    display:block;
}
#size{
    text-transform: uppercase;
    border: 2px solid gold;
    border-radius: 10px;
    margin:30%;
}
