body{
background:url(Assets/download.jpg) no-repeat;
background-size:cover;
}

h1{
    text-align:center;
    color:red;
    text-transform:uppercase;
}
h2, a {
  color:red;
  line-height:10px;
}
.info{
    text-align:center;
}

*{
    font-family:serif,sans-serif;
}
img{
    border:2px solid red;
    border-radius:10px;
    margin:0px auto;
    display:block;
    max-height: 300px
}
#Resume{
    border:2px solid gray;
    display:block;
    max-height: 30px;
    border-radius: 10px;
    margin:inherit;
}
#Twitter{
    border:2px solid lightblue;
    display:block;
    max-height: 30px;
    border-radius: 10px;
    margin:inherit;
}
#Intagram{
    border:2px solid #e95950;
    display:block;
    max-height: 30px;
    border-radius: 10px;
    margin:inherit
   }