body {
    background:url(Assets/UMD_campus.png) no-repeat fixed center;
    background-size: cover;
    
}
#heading {
    text-align:center;
    color:red;
    width:290px;
    margin:auto;
    text-transform:uppercase;
}
.container {
    background-color:rgba(9,1,1,0.6);
    margin:auto;
    resize: both;
}

#discription {
    color:green;
    text-transform: capitalize;
    text-align: center;

}
.orderList {
    color:sandybrown;
}
#one {
    position: relative;
    top:-10px;
}
